body{
  text-align: center;
  margin-top:30px;
  font-family: 'Josefin Sans', sans-serif;
}


#gradient {
  width: 240px;
  height:27px;
  background-image: linear-gradient(to right, red , white);
  position: absolute;
  top:130px;
  left:200px;
}
